/* PALETTE COLORS */

$dark-primary-color: rgb(0, 151, 167);
$default-primary-color: rgb(0, 189, 214);
$light-primary-color: rgb(177, 234, 242); 
$text-primary-color: rgb(255, 255, 255);
$accent-color: rgb(96, 125, 139);
$primary-text-color: rgb(33, 33, 33); 
$secondary-text-color: rgb(117, 117, 117);
$divider-color: rgb(189, 189, 189);


/* SHADOW-COLORS */
$rgba-accent-color: rgba(96, 125, 139, .14);
$rgba-dark-primary-color: rgb(0, 151, 167, .3);
$rgba-light-primary-color: rgb(177, 234, 242, 1); 